 @model List<Tag>
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager;
@{
    int counter = 0;
}
<a asp-action="create" class="btn btn-success">Tag Create</a>
<table id="example" class="table table-bordered table-hover table-active" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Tag Name</th>
            <th>Created Info</th>
            <th>Update Info</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            counter++;
            <tr>
                <td>@counter</td>
                <td>@item.TagName</td>
                <td>Created Date:@item.CreatedDate /@item.User.UserName </td>
                @if (!string.IsNullOrEmpty(item.UpdatedUserId))
                {
                    @foreach (var users in _userManager.Users.ToList())
                    {
                        if (users.Id == item.UpdatedUserId)
                        {
                            <td>@users.UserName Date:@item.UpdateDate</td>
                        }

                    }
                }
                else
                {
                    <td>Not Update</td>
                }
                <div class="modal" id=@item.Id tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Info</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>@item.TagName adli tag silinsinmi?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="modalClose('@item.Id')" class="btn btn-success @item.Id btn-secondary" data-bs-dismiss="modal">No</button>
                                <a type="button" asp-area="dashboard" asp-controller="tag" asp-action="Delete" asp-route-tagId="@item.Id" class="btn btn-danger">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <td>  <button onclick="Tagdlt('@item.Id')" class="btn btn-danger">Delete</button> <a class="btn btn-warning mx-3" asp-area="dashboard" asp-controller="tag" asp-action="Edit" asp-route-tagId="@item.Id">Edit</a></td>
              
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Tag Name</th>
            <th>Created Info</th>
            <th>Update Info</th>
            <th>Actions</th>
           
        </tr>
    </tfoot>
</table>

<script>
    var modals = document.querySelectorAll(`.modal`)
    var modal_close_btn = document.querySelectorAll('.btn-closemodal')


    function Tagdlt(userId) {
        var modal = document.getElementById(`${userId}`)
        modal.classList.add("d-block")

    };
    function modalClose(modalId) {
        var modalclos = document.getElementById(`${modalId}`)

        modalclos.classList.remove("d-block")

    }

</script>